/*
.fullsize {
     width:250px;
    height:300px 
}
*/
.filters {
    padding-top: 5px;
    padding-bottom: 5px;
}
.listsize {
    width:250px;
    /*height:200px*/
}

img {
    width: 250px;
    height: 150px;
}

mat-list {     
    overflow-y: auto;
    overflow-x: hidden;
    height: 400px;
}

mat-list-item {
    height: 150px !important;
}